@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-image: url(./images/background.svg);
  background-repeat: no-repeat;
  background-position: top;
  display: grid;
  width: 375px;
  height: 812px;
  place-items: center;
  margin: auto;
  margin-right: auto;
  font-family: 'Roboto';
}
h1 {
  font-size: 1.5rem;
  color: #c4c4cc;
}
a {
  color: #c4c4cc;
}
.avatar {
  margin: 11.5rem auto;
  position: relative;
}
.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}
.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.badge {
  position: absolute;
  top: 140px;
  background-color: #202024;
  text-align: center;
  z-index: -1;
}
.texto {
  position: absolute;
  width: 262px;
  height: 48px;
  top: 520px;
  color: #e1e1e6;
  z-index: 5;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.insta {
  color: #e1e1e6;
  position: absolute;

  width: 102px;
  height: 26px;
  top: 470px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.nome {
  color: #c4c4c4;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  margin-top: 40px;
  text-align: center;
  line-height: 30px;
  top: 392px;
}
.redes,
ul,
il {
  display: flex;
  width: 216px;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}
